*
{
    margin:0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Udemy Sans','SF Pro Text';
    font-size: 1rem;
    color: #2d2f31;
}

.navContainerparent-div
{
    min-height: 72px;
}

.navContainerparent-div::after
{
    content: "";
    display: block;
    clear: both;
}

#navLogo-div
{
    float: left;
    width: 10%;
    min-height: 72px;
    margin: auto;
}

.navLogo
{
    margin-left: 10%;
    min-height: 100%;
}

img
{
    align-items: center;
    display: block;
    margin: auto;
}

#navbtnContainer-div
{
    width: 72%;
    float: right;
    min-height: 72px;
    line-height: 80px;
    float: left; 

}
#navbticon-div
{
    width: 18%;
    min-height: 80px;
    padding-top: 20px;
    float: left;
}

.navItemText
{
    padding-left: 10px;
    padding-right: 15px;
}

.navIteminput
{
    width: 50%;
    border-radius: 35px;
    min-height: 55px;
}

.navItemBtnIcon
{
    margin-right: 25px;
}
